<!DOCTYPE html>
<html>
<head>
	<style>
th {
  color: #fff;;
  background:#81BDA4;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
  font-family: 'Open Sans', sans-serif;
}

td {
  color: #666;
  background:#eaeaea;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
  font-family: 'Open Sans', sans-serif;
}
</style>
	<title>Techstitution</title>
</head>
<body>
	{% block content %}

		{% endblock %}
</body>
</html>
