{% extends 'layout.html' %}
{% block header %}
  <h4 class="center-align" style="margin-bottom:30px">Ndermarresit</h4>
{% endblock %}
{% block content%}
<div class="card-panel">
  <table align="center" class="highlight bordered responsive-table" style="width: 100%;">
  <thead>
    <tr>
      <th>Emri i Ndermarresit</th>
      <th>Adresa</th>
      <th>Opsionet</th>
    </tr>
  </thead>
  <tbody>
  {% for record in myCursor %}
  <tr class="item-row">
    <td>
      {{ record['entiteti'] }}
    </td>
    <td>
      {{ record['adresa'] }}
    </td>
    <td>
      <a class="" href="{{url_for('main.get_doc',id=record._id)}}">View</a>/
      <a href="{{url_for('.delete_document', id=record._id)}}">Remove</a>
    </td>
  </tr>
  {%endfor%}
  </tbody>
  </table>
</div>
{% endblock %}
